<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">


<div class="container">
    <br>
    <div class="d-flex flex-row">
        <div class="p-2">
            <f:if condition="{data.isAdmin} == true">
                <f:then>
                    <h2>
                        <f:translate key="LLL:EXT:qc_widgets/Resources/Private/Language/Module/ListOfMembers/locallang.xlf:listOfAdmins"/>
                    </h2>
                </f:then>
                <f:else>
                    <h2>
                        <f:translate key="LLL:EXT:qc_widgets/Resources/Private/Language/Module/ListOfMembers/locallang.xlf:listOfMyTeamsMembers"/>
                    </h2>
                </f:else>
            </f:if>
        </div>
        <div class="p-2">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">

                <table class="table table-bordered table-striped mb-0">
                    <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">RealName</th>
                        <th scope="col">Last connected</th>
                    </tr>
                    </thead>
                    <tbody>
                    <f:for each="{data.members}" as="element">
                        <f:if condition="{data.isAdmin} == false">
                            <tr>
                                <td colspan="4" style="text-align : center; background-color : yellow;">{element.groupName}</td>
                            </tr>
                        </f:if>
                        <f:for each="{element.users}" as="item">
                            <tr>
                               <td>{item.username}</td>
                               <td>{item.email}</td>
                               <td>{item.realName}</td>
                               <td>{item.lastlogin}</td>
                            </tr>
                        </f:for>
                    </f:for>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <br>
    <f:comment>
        <div class="row">
            <div class="col-md-12">
                <div class="collapse in">
                    <div class="table-fit">
                        <table class="table table-striped table-hover table-wrapper-scroll-y my-custom-scrollbar ">
                            <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">RealName</th>
                                <th scope="col">Last connected</th>
                            </tr>
                            </thead>
                            <tbody>
                            <f:for each="{data}" as="item">
                                <tr>
                                    <td colspan="4" style="text-align : center; background-color : yellow;">{item.group}</td>
                                </tr>
                                <f:for each="{item.members}" as="user">
                                    <tr>
                                        <f:for each="{user}" as="details" key="detailsKey">
                                            <td> {details.username}</td>
                                            <td> {details.email}</td>
                                            <td> {details.realName}</td>
                                            <td> {details.lastLogin}</td>
                                        </f:for>
                                    </tr>
                                </f:for>
                            </f:for>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </f:comment>
</div>

<br>
</html>