<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">
<div class="widget-content-title">
  <span>
    <f:translate key="LLL:EXT:qc_widgets/Resources/Private/Language/locallang.xlf:myLastPages" />
  </span>
</div>
<div class="widget-content-main">
  <div class="widget-table-wrapper">
    <table class="widget-table">
      <thead>
      <tr>
        <th scope="col">Uid</th>
        <th scope="col">
          <f:translate key="LLL:EXT:qc_widgets/Resources/Private/Language/locallang.xlf:pageTitle" />
        </th>
        <th scope="col">
          <f:translate key="LLL:EXT:qc_widgets/Resources/Private/Language/locallang.xlf:status" />
        </th>
        <th scope="col">
          <f:translate key="LLL:EXT:qc_widgets/Resources/Private/Language/locallang.xlf:creationDate" />
        </th>
        <th scope="col">
          <f:translate key="LLL:EXT:qc_widgets/Resources/Private/Language/locallang.xlf:modificationDate" />
        </th>
        <th scope="col">Slug</th>
      </tr>
      </thead>
      <tbody>
      <f:for each="{data}" as="item">
        <tr>
          <td>
            <f:be.link route="web_layout" parameters="{id: item.uid}">
              {item.uid}
            </f:be.link>
          </td>
          <td>{item.title}</td>
          <td>
            <f:if condition="{item.expired} == 1">
                <span class="c-badge c-badge--yellow">
                   <f:translate key="LLL:EXT:qc_widgets/Resources/Private/Language/locallang.xlf:expired" />
                </span>
            </f:if>
            <f:if condition="{item.hidden} == 1">
                <span class="c-badge c-badge--red">
                   <f:translate key="LLL:EXT:qc_widgets/Resources/Private/Language/locallang.xlf:hidden" />
                </span>
            </f:if>

          </td>
          <td>{item.crdate}</td>
          <td>{item.tstamp}</td>
          <td>{item.slug}</td>
        </tr>
      </f:for>
      </tbody>
    </table>
  </div>
</div>
</html>