<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="widget-content-title">
    <span>
        {widgetTitle}
    </span>
</div>
<div class="widget-content-main">
    <div class="widget-table-wrapper">
        <f:if condition="{data}">
            <f:then>
                <table class="widget-table">
                    <thead>
                        <tr>
                            <th scope="col">
                               Table name
                            </th>
                            <th scope="col">
                                last x days
                            </th>
                            <th scope="col">
                                last 24h
                            </th>
                            <th scope="col">
                                number of records
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{data}" as="records" key="tableName">
                            <tr>
                                <td>{tableName}</td>
                                <td>
                                    <f:if condition="{records.numberOfDays}">
                                        <f:then>{records.numberOfDays}</f:then>
                                        <f:else>-</f:else>
                                    </f:if>
                                </td>
                                <td>
                                    <f:if condition="{records.totalNewLast24h}">
                                        <f:then>{records.totalNewLast24h}</f:then>
                                        <f:else>-</f:else>
                                    </f:if>
                                </td>
                                <td>
                                    <f:if condition="{records.totalRecords}">
                                        <f:then>{records.totalRecords}</f:then>
                                        <f:else>-</f:else>
                                    </f:if>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
            </f:then>
            <f:else>
                <f:render partial="NoResult" />
            </f:else>
        </f:if>
    </div>
</div>
<br>

</html>