<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable  name="localLangFile" value="LLL:EXT:qc_widgets/Resources/Private/Language/Module/NumberOfRecordsByContentType/locallang.xlf:"/>
<div class="widget-content-main">
    <div class="widget-table-wrapper">

        <f:variable name="options" value="{0: 'totalRecordsByNumberOfDays', 1: 'totalRecordsForTheLast24h', 2: 'totalRecords'}" />
        <f:if condition="{data}">
            <f:then>
                <table class="widget-table table table-striped table-hover">
                    <thead>
                        <tr>
                                <th scope="col">
                                   <f:translate
                                            key="LLL:EXT:qc_widgets/Resources/Private/Language/Module/NumberOfRecordsByContentType/locallang.xlf:table"  />
                                </th>
                                <th scope="col">
                                    <f:translate
                                            key="LLL:EXT:qc_widgets/Resources/Private/Language/Module/NumberOfRecordsByContentType/locallang.xlf:last"  />
                                    {totalRecordsByNumberOfDays}
                                    <f:translate
                                            key="LLL:EXT:qc_widgets/Resources/Private/Language/Module/NumberOfRecordsByContentType/locallang.xlf:days"  />
                                </th>
                                <th scope="col">
                                    <f:translate
                                            key="LLL:EXT:qc_widgets/Resources/Private/Language/Module/NumberOfRecordsByContentType/locallang.xlf:lastF"  />24h
                                </th>
                                <th scope="col">
                                    <f:translate
                                            key="LLL:EXT:qc_widgets/Resources/Private/Language/Module/NumberOfRecordsByContentType/locallang.xlf:totalNumberOfRecords"  />
                                </th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{data}" as="records" key="tableName">
                            <tr>
                                <td>{tableName}</td>
                                <f:for each="{options}" as="option">
                                    <f:variable name="recordValue" value="{records.{option}}"/>
                                    <td>
                                        <f:render section="recordResult" arguments="{result: recordValue}"/>
                                    </td>
                                </f:for>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
            </f:then>
            <f:else>
                <f:render partial="NoResult" />
            </f:else>
        </f:if>
    </div>
</div>
</html>

<f:section name="recordResult">
    <f:if condition="{result} >= '0'">
        <f:then>{result}</f:then>
        <f:else>-</f:else>
    </f:if>
</f:section>
