<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="widget-content-title">
    <span>
        {widgetTitle}
    </span>
</div>
<div class="widget-content-main">
    <f:if condition="{data.0}">
        <f:then>
            <table class="widget-table">
                <thead>
                <tr>
                    <th scope="col">
                        <f:translate key="LLL:EXT:qc_widgets/Resources/Private/Language/Module/RecentlyModifiedContent/locallang.xlf:contentUID" />
                    </th>
                    <th scope="col">
                        <f:translate key="LLL:EXT:qc_widgets/Resources/Private/Language/Module/RecentlyModifiedContent/locallang.xlf:type" />
                    </th>
                    <th scope="col">
                        <f:translate key="LLL:EXT:qc_widgets/Resources/Private/Language/Module/RecentlyModifiedContent/locallang.xlf:pageUID" />
                    </th>
                    <th scope="col">
                        <f:translate key="LLL:EXT:qc_widgets/Resources/Private/Language/locallang.xlf:modificationDate" />
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{data}"  as="item">
                    <tr>
                        <td>
                            <be:link.editRecord uid="{item.uid}" table="tt_content" returnUrl="{f:be.uri(route: 'dashboard')}">
                                {item.uid}
                            </be:link.editRecord>
                        </td>
                        <td>{item.cType}</td>
                        <td>
                            <f:be.link class="u-dashboard-button dashboard-button" route="web_layout" parameters="{id: item.pid}">
                                {item.pid}
                            </f:be.link>
                        </td>
                        <td>{item.tstamp}</td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            <f:render partial="NoResult"/>
        </f:else>
    </f:if>
</div>
<br>
</html>